{{ form_start(form) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.managedClasses) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
