{{ form_start(form) }}
    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-danger">
            {% for error in form.vars.errors %}
                <span>{{ error.message }}</span>
            {% endfor %}
            <button type="button" class="alert-close" onclick="this.parentElement.remove()">&times;</button>
        </div>
    {% endif %}

    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.managedClasses) }}
    <button class="btn btn-primary mt-3">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
